/* Zerar padrões */
*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Adiciona a rolagem suave às âncoras */

html{
    scroll-behavior: smooth;
}

/* Container */

#container{
    background-color: black;
    position: relative;
    height: 100vh;
    width: 100%;
}

/* Container inicial */

#container-inicial{ 
    background-image: url(sala.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
    color: black;
    position: relative;
    z-index: 1;
}

#container-inicial::after{ /* Torna o BG de container-inicial opaco */
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: -1;
}

/* Cabeçalho */

header{
    text-align: center;
    font-size: min(2vw, 30px);
    color: white;
    padding: 2% 0 2% 0;
    background-color: rgba(0,0,0,0);
}

header a{
    padding: 0 2% 0 2%;
    text-decoration: none;
    color: white;
}

/* Corpo */

/* Parte Inicial */

#inicial{
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 100%;
    align-items: center;
}

#inicial img{
    width: min(40%, 60vw);
    height: auto;
}

/* Parte 2 - Escritório */

#escritorio{
    background-color: rosybrown;
    display: inline-block;
    position: relative;
}

#escritorio img{
    width: 40%;    
    padding: 0;
    vertical-align: top;
}

#escritorio h1{
    display: inline-block;
    font-size: 3.5vw;
    font-weight: bold;
    width: 50%;
    padding: 6% 2% 2% 4%;
}

#escritorio p{
    display: inline-block;
    width: 50%;
    padding: 2% 2% 6% 4%;
    font-size: 2vw;
    text-align: justify;
}

/* Áreas de atuação */

#areas{ 
    background-image: url(sala2.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 1px gray;
    position: relative;
    z-index: 1;
}

#areas::after{ /* Torna o BG de areas opaco */
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: -1;
}

#areas h1{
    font-size: 6vw;
    text-align: center;
    padding: 8% 0 5% 0;
}

#civil{
    width: 49%;
    display: inline-block;
    font-size: 3vw;
    text-align: center;
    padding: 7% 0% 0 0%;
}

#civil p{
    text-align: center;
    line-height: 150%;
    padding: 2% 0 0 0;
}

#empresarial{
    padding: 7% 0 0 0;
    width: 49%;
    display: inline-block;
    font-size: 3vw;
    text-align: center;
}

#empresarial p{
    text-align: center;
    padding: 2% 0 8% 0;
    line-height: 150%;
}

#trabalhista{
    padding: 7% 0 0 0;
    width: 49%;
    display: inline-block;
    font-size: 3vw;
    text-align: center;
}

#trabalhista p{
    text-align: center;
    padding: 2% 0 0 0;
    line-height: 150%;
}

#penal{
    padding: 7% 0 0 0;
    width: 49%;
    display: inline-block;
    font-size: 3vw;
    text-align: center;
}

#penal p{
    text-align: center;
    padding: 2% 0 0 0;
    line-height: 150%;
}

/* Contato */

#contato{
    background: linear-gradient(to bottom, #633448, black);
    width: 100%;
}

#contato h1{
    text-align: center;
    font-size: 6vw;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 5% 5% 5% 5%;
}

#contato h3{
    text-align: center;
    font-size: 5vw;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 3% 0 3% 0;
}

#telefone{
    display: inline-block;
    width: 49%;
    height: auto;
    padding: 0;
    text-align: center;
    padding: 8% 0 10% 0;
}

#telefone-imagem2{
    width: 28vw;
    height: 28vw;
}

#telefone-link{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 3vw;
    padding: 0;
}

#wpp{
    display: inline-block;
    width: 49%;
    height: auto;
    padding: 0;
    text-align: center;
    padding: 8% 0 10% 0;
}

#wpp-imagem2{
    width: 28vw;
    height: 28vw;
}

#wpp-link{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 3vw;
    padding: 0;
}

/* Rodapé */

footer{
    background-color: black;
}

footer p{
    color: white;
    text-align: center;
    font-size: 2vw;
    text-shadow: 1px 1px 1px black;
    padding: 1% 0 1% 0%;
}

/* Responsividade */

/* Celulares */

@media (max-width: 90000px) {

}

/* Tablets */

@media (min-width: 500px) and (max-width: 2048px) {
}

/* Orientação horizontal */

@media (orientation: landscape) {
    #escritorio p{
        font-size: 1.5vw;
    }

    #areas h1{
        font-size: 5vw;
        text-align: center;
        padding: 8% 0 5% 0;
    }
    
    #civil{
        width: 49%;
        display: inline-block;
        font-size: 2vw;
        text-align: center;
        padding: 7% 0% 0 0%;
    }
    
    #empresarial{
        padding: 7% 0 0 0;
        width: 49%;
        display: inline-block;
        font-size: 2vw;
        text-align: center;
    }
    
    #trabalhista{
        padding: 7% 0 0 0;
        width: 49%;
        display: inline-block;
        font-size: 2vw;
        text-align: center;
    }

    #penal{
        padding: 7% 0 0 0;
        width: 49%;
        display: inline-block;
        font-size: 2vw;
        text-align: center;
    }

    #contato h1{
        font-size: 4vw;
    }
    
    #contato h3{
        font-size: 3vw;
    }

    #telefone-imagem2{
        width: 15vw;
        height: 15vw;
    }

    #wpp-imagem2{
        width: 15vw;
        height: 15vw;
    }


}